/**
 * @name Fallout 4 Terminal Avali
*/

@import url('https://www.alexw-578.co.uk/CSS/DiscordMain.css');
/* ^ THIS IS THE MAIN IMPORT. DO NOT TOUCH THIS OR THE THEME WILL BREAK. ^ */

@import url('https://commandcrafterhd.github.io/Fallout4TerminalTheme/css/disableCRT.css');
/* ^ UNCOMMENT THIS IMPORT IF YOU WANT TO REMOVE THE CRT EFFECT ^ */

/* TO CUSTOMIZE THE THEME, UNCOMMENT THE LINES BELOW AND REPLACE THE VARIABLES https://www.avali.net/assets/img/AvaliLogoWhite.png*/


:root {
    --text-color: #ff850d !important;
    --background: #080400 !important;
    --backdrop-image: url(https://i.imgur.com/sko49MR.png);
    --background-shading: 100%;
    --background-position: center;
    --background-size: 25%;
    --background-repeat: no-repeat;
    --background-attachment: fixed;



}

.chatContent-3KubbW:before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--backdrop-image) var(--background-position)/var(--background-size) var(--background-repeat);
    filter: brightness(5%);
    pointer-events: none
}
